@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  line-height: 1rem;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif; }

img {
  width: 100%;
  max-width: 100%;
  height: auto; }

/*Main Slider*/
.slick-slider .slick-slide {
  padding: .2rem; }

.slick-slider .slick-arrow {
  z-index: 10; }
  .slick-slider .slick-arrow:before {
    font-size: 40px; }

.slick-slider .slick-next {
  right: 20px; }

.slick-slider .slick-prev {
  left: 0; }
