/**VARIABLES**/
/*COLORES*/
$primary: #363635;
$secondary: #A3A9AA;
/*END VARIABLES*/


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html body {
  line-height: 1rem;
  font-size: 16px;
  color: $primary;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

/*Common style*/
.flex-row {
  display: flex!important;
  flex-flow: row wrap;
  justify-content: flex-start;
}

.w-20 {
  width: calc(20% - 20px);
  margin: 10px;
}

.w-10 {
  width: calc(10% - 10px);
  margin: 5px;
}
/*End common styles*/

/*Main Slider*/
.slick-slider {
  .slick-slide {
    padding: .2rem;
  }
  .slick-arrow {
    &:before {
      font-size: 40px;    
    }
    z-index: 10;
  }
  .slick-next {
    right: 20px;
  }
  .slick-prev {
    left: 0;
  }
}

/*layout__sidebar*/
.layout__sidebar {
  border-left: 1px solid #d4d4d4;
}
/*End layout__sidebar*/

.HomePage__CategoryComponent {
  .CategoryComponent__header {
    display: flex;
    flex-flow: row wrap;
  }
  .CategoryComponent__title {
    font-size: 1.5rem;
  }
  .CategoryComponent__link-all {
    margin-left: auto;
    display: inline-block;
    font-family: 'Lato';
    color: #595A4A;
  }
  .CategoryComponent__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}

.CategoryComponent__item {
  text-align: center;    
  .item__title {
    margin: 0;
    font-size: 1.2rem;
    color: $primary;
  }
  .item__img-wrapper {
    display: block;
    max-width: 53px;
    max-height: 53px;
    text-align: center;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
  }
  .item__category,
  .item__price {
    font-size: 1rem;
    line-height: 1rem;
    margin: 0;
    color: $secondary;
  }
  .item__price {
    color: $primary;
  }
}

.sidebar__category-list {
  padding-left: 1.5rem;
  list-style-type: decimal;
  .sidebar__category-item {
    padding-left: 1rem;
    margin: 1rem 0;
    &:last-child {
      margin-bottom: 2rem;
    }
    &:not(:first-child) {
      .item__title {
        width: 100%;
      }
      .item__category {
        width: 100%;
      }
    }
  }
  .sidebar__category-link {
    display: inline-block;
    vertical-align: top;
    .item__img-wrapper {
      display: inline-block;
      float: left;
      margin-right: 0.5rem;
      max-width: 53px;
      max-height: 53px;
      border-radius: 10px;
      overflow: hidden;
    }
    .item__title {
      margin: 0;
      float: left;
      color: $primary;
    }
    .item__category {
      float: left;
      color: $secondary;
      font-size: .8rem;
    }
  }
}

/*BANNER COLLECTIONS*/
.BannersContainer {
  overflow: hidden;
  .BannersContainer__title {
    font-size: 1.5rem;
  }
  .BannersContainer__lists-wrapper {
    overflow-x: scroll;
  }
  .BannersContainer__list {
    padding: .5rem 0;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    list-style: none;
  } 
  .BannersContainer__item {
    margin-right: 1rem;
  }
  .BannersContainer__link {
    border-radius: 10px;
    overflow: hidden;
    img {
      min-width: 230px;
      max-width: 230px;
    }
  }
}
/*END BANNER COLLECTIONS*/